body{
    font-family: "roboto", sans-serif;
}
h1{
    padding: 30px 0 30px;
    text-align: center;
    color:darkorchid;
    } 
    p{
        padding:30px 0 30px;
        text-align: justify;
        color: red;
        font: size 45px;
    }   
 
    h2{
        padding: 10px 0 35px;
        text-align: center ;
        color: rgb(7, 170, 245);
    }    
    h3{
        padding: 30px 0 5px;
        text-align: left;
        color:deeppink
    }
    source{
        size: 100px;
    }
    
.Gallarey{
    padding: 10px 30px;
   }
.Gallarey img{
    width:300px;
    padding: 75px;
    filter:grayscale(100%)
    transition:1s;

}
.Gallarey img:hover{
    filter:grayscale(0);
    transform: scale(1.1);    
} 
@media (max-width: 1023px){
    header{
        padding: 12px 20px;
        }

        .navigation a{
        padding-left: 10px;

    }
    .title{
        font-size: 1.8em;
    }
    .selection{
        padding:80px 20px;
    }
    
    .main-contenet h2{
        font-size: 1em;

    }
    .main-contenet h3{
        font-size: 1em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    
    
}
@media (max-width:1023px)
body{
    font-size: 12px;

}